
  <h1> Pick and Roll </h1>
  <a href='/zebra'>Zebra</a>
  <a href='/dice/2/6'>2 Dice 6 Sides</a>
  <a href='/dice/2/10'>2 Dice 10 Sides</a>
  <a href='/dice/1/20'>1 Die 20 Sides</a>
  <a href='/dice/5/4'>5 Dice 4 Sides</a>
  <a href='/dice/3/12'>3 Dice 12 Sides</a>

  <h1>This is working fine</h1>
  <h2>you are doing a great job keep on going</h2>
  
