<h1>5 die 4 Sides <h1>

<h3> <%= @outcome %> <h3><br>

<a href="/dice/5/4">Roll Again</a>
<a href="/">Home Page</a></h>
  <div>
    <div><a href="/">Home</a></div>
    <div><a href="/dice/2/6">2d6</a></div>
    <div><a href="/dice/2/10">2d10</a></div>
    <div><a href="/dice/1/20">1d20</a></div>
  </div>
