<!DOCTYPE html>
<html>
<head>
<title>Lets Roll Dice</title>
 <style>
    .navbar {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>
<body>
<h1> Get Your Roll On! </h1>


  
  <div class = "navbar">
    <div><a href="/">Home</a></div>
    <div><a href="/dice/2/6">2 Dice-6 Sides</a></div>
    <div><a href="/dice/2/10">2 Dice-10 Sides</a></div>
    <div><a href="/dice/1/20">1 Die-20 Sides</a></div>
    <div><a href="/dice/5/4">4 Dice-5 Side</a></div>
    <div><a href="/dice/3/12">3 Dice-12 Sides</a></div>
    <div><a href="/dice/100/6">100 Rolls</a></div>
  </div>
  
  <%= yield %>
</body>
<html>
