 <table>
    <tr>
      <th> First Die </th>
      <th> Second Die </th>
      <th> Third Die </th>
      <th> Sum </th>
    </tr>
  
    <tr>
      <td>#{first_die} </td>
      <td>#{second_die} </td>
      <td>#{third_die} </td>
      <td>#{sum} </td>
    </tr>
  </table>
  <br>
<a href='/dice/2/6'>Roll Again</a>
<a href='/'>Home Page</a>"
